@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
	Layout = null;
	var culture = UmbracoContext?.PublishedRequest?.Culture ?? "en-US";
}
<!DOCTYPE html>
<html lang="@culture">
<head>
	<meta charset="utf-8">
	<title>Book search</title>
	<script>window.__CULTURE__ = "@culture";</script>
	<script src="js/script.js" asp-append-version="true"></script>
	<style>
body {
	background-color: oldlace;
	color: black;
	font-family: 'Iowan Old Style', 'Palatino Linotype', 'URW Palladio L', P052, serif;
	margin: auto;
	max-width: 1200px;
}
#searchPanel {display: flex;flex-direction: row;}
#searchFilters {flex: 1;}
#searchResults {flex: 4;}
input, select {font-family: inherit;}
</style>
</head>
<body>
<h1>Book search</h1>
<div id="searchPanel">
	<div id="searchFilters"><em>Loading...</em></div>
	<div id="searchResults"></div>
</div>
</body>
</html>