@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
	Layout = null;
	var culture = UmbracoContext?.PublishedRequest?.Culture ?? "en-US";
}
<!DOCTYPE html>
<html lang="@culture">
<head>
	<meta charset="utf-8">
	<title>Book search</title>
	<script>window.__CULTURE__ = "@culture";</script>
	<script src="js/script.js" asp-append-version="true"></script>
</head>
<body style="margin: auto; max-width: 1200px;">
<h1>Book search</h1>
<div style="display: flex;flex-direction: row;">
	<div style="flex: 1" id="searchFilters"><em>Loading...</em></div>
	<div style="flex: 4" id="searchResults"></div>
</div>
</body>
</html>