<?xml version="1.0" encoding="utf-8"?>
<Content Key="d5654070-38fe-42fc-b971-6353a180076b" Alias="Absalom, Absalom!" Level="2">
  <Info>
    <Parent Key="3138e866-7bf1-4a00-b7ed-e11ee6f45b7f">Books</Parent>
    <Path>/Books/AbsalomAbsalom</Path>
    <Trashed>false</Trashed>
    <ContentType>book</ContentType>
    <CreateDate>2025-06-26T10:12:09</CreateDate>
    <NodeName Default="Absalom, Absalom!" />
    <SortOrder>35</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <author>
      <Value><![CDATA[William Faulkner]]></Value>
    </author>
    <authorNationality>
      <Value><![CDATA[[
  "American"
]]]></Value>
    </authorNationality>
    <length>
      <Value><![CDATA[Medium]]></Value>
    </length>
    <publishYear>
      <Value><![CDATA[1936]]></Value>
    </publishYear>
    <summary>
      <Value><![CDATA[This novel is a complex narrative about Thomas Sutpen, a poor white man who rises to power in the South, aiming to create a dynasty that would rival the old aristocratic families. However, his ambitions are thwarted by his own flawed decisions and the overarching racial and societal tensions of the era. The story is not told in a linear fashion but rather through a series of interconnected flashbacks and narratives, offering different perspectives on the same events. The book explores themes of family, class, race, and the destructive power of obsession.]]></Value>
    </summary>
  </Properties>
</Content>