<?xml version="1.0" encoding="utf-8"?>
<Content Key="d03e22e3-859c-457c-ac68-b480442498aa" Alias="Adventures of Huckleberry Finn" Level="2">
  <Info>
    <Parent Key="3138e866-7bf1-4a00-b7ed-e11ee6f45b7f">Books</Parent>
    <Path>/Books/AdventuresOfHuckleberryFinn</Path>
    <Trashed>false</Trashed>
    <ContentType>book</ContentType>
    <CreateDate>2025-06-26T09:41:09</CreateDate>
    <NodeName>
      <Name Culture="da">Huckleberry Finns eventyr</Name>
      <Name Culture="en-US">Adventures of Huckleberry Finn</Name>
    </NodeName>
    <SortOrder>18</SortOrder>
    <Published>
      <Published Culture="da">true</Published>
      <Published Culture="en-US">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <author>
      <Value>Mark Twain</Value>
    </author>
    <authorNationality>
      <Value>[
  "American"
]</Value>
    </authorNationality>
    <length>
      <Value>Medium</Value>
    </length>
    <publishYear>
      <Value>1884</Value>
    </publishYear>
    <summary>
      <Value Culture="da">Denne klassiske roman følger en ung pigedreng og en frigivet slave, som flyder ned ad Mississippi-floden på jagt efter frihed. Deres rejse er en kraftfuld skildring af venskab, moral og kampen mod undertrykkelse i det 19. århundredes Amerika.</Value>
      <Value Culture="en-US">The novel follows the journey of a young boy named Huckleberry Finn and a runaway slave named Jim as they travel down the Mississippi River on a raft. Set in the American South before the Civil War, the story explores themes of friendship, freedom, and the hypocrisy of society. Through various adventures and encounters with a host of colorful characters, Huck grapples with his personal values, often clashing with the societal norms of the time.</Value>
    </summary>
  </Properties>
</Content>
