<?xml version="1.0" encoding="utf-8"?>
<Content Key="febddac9-1e74-4f7b-9c15-1f819aa0ddd6" Alias="Animal Farm" Level="2">
  <Info>
    <Parent Key="3138e866-7bf1-4a00-b7ed-e11ee6f45b7f">Books</Parent>
    <Path>/Books/AnimalFarm</Path>
    <Trashed>false</Trashed>
    <ContentType>book</ContentType>
    <CreateDate>2025-06-26T14:18:49</CreateDate>
    <NodeName Default="Animal Farm" />
    <SortOrder>44</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <author>
      <Value><![CDATA[George Orwell]]></Value>
    </author>
    <authorNationality>
      <Value><![CDATA[[
  "British"
]]]></Value>
    </authorNationality>
    <length>
      <Value><![CDATA[Very Short]]></Value>
    </length>
    <publishYear>
      <Value><![CDATA[1945]]></Value>
    </publishYear>
    <summary>
      <Value><![CDATA["Animal Farm" is a satirical fable set on a farm where the animals revolt, overthrow their human farmer, and take over the running of the farm for themselves. The story is an allegory of the Russian Revolution and the rise of Stalin, and the tale is told by the animals that inhabit the farm, primarily pigs who become the ruling class. Despite their initial attempts at creating an equal society, corruption and power ultimately lead to a regime as oppressive as the one they overthrew.]]></Value>
    </summary>
  </Properties>
</Content>