<?xml version="1.0" encoding="utf-8"?>
<Content Key="b6b2f2e4-61b3-4e5d-bc59-65e41392eca9" Alias="Beloved" Level="2">
  <Info>
    <Parent Key="3138e866-7bf1-4a00-b7ed-e11ee6f45b7f">Books</Parent>
    <Path>/Books/Beloved</Path>
    <Trashed>false</Trashed>
    <ContentType>book</ContentType>
    <CreateDate>2025-06-26T14:19:57</CreateDate>
    <NodeName Default="Beloved" />
    <SortOrder>46</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <author>
      <Value><![CDATA[Toni Morrison]]></Value>
    </author>
    <authorNationality>
      <Value><![CDATA[[
  "American"
]]]></Value>
    </authorNationality>
    <length>
      <Value><![CDATA[Medium]]></Value>
    </length>
    <publishYear>
      <Value><![CDATA[1987]]></Value>
    </publishYear>
    <summary>
      <Value><![CDATA[This novel tells the story of a former African-American slave woman who, after escaping to Ohio, is haunted by the ghost of her deceased daughter. The protagonist is forced to confront her repressed memories and the horrific realities of her past, including the desperate act she committed to protect her children from a life of slavery. The narrative is a poignant exploration of the physical, emotional, and psychological scars inflicted by the institution of slavery, and the struggle for identity and self-acceptance in its aftermath.]]></Value>
    </summary>
  </Properties>
</Content>