<?xml version="1.0" encoding="utf-8"?>
<Content Key="3138e866-7bf1-4a00-b7ed-e11ee6f45b7f" Alias="Books" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Books</Path>
    <Trashed>false</Trashed>
    <ContentType>books</ContentType>
    <CreateDate>2025-06-25T19:35:04</CreateDate>
    <NodeName Default="Books">
      <Name Culture="da">Bøger</Name>
      <Name Culture="en-US">Books</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="da">true</Published>
      <Published Culture="en-US">true</Published>
    </Published>
    <Schedule />
    <Template Key="61936e36-3fdc-414f-b6cc-8177628294d2">books</Template>
  </Info>
  <Properties />
</Content>