<?xml version="1.0" encoding="utf-8"?>
<Content Key="e7a8e167-3f38-415a-b9ad-0a0977c21fb2" Alias="Brave New World" Level="2">
  <Info>
    <Parent Key="3138e866-7bf1-4a00-b7ed-e11ee6f45b7f">Books</Parent>
    <Path>/Books/BraveNewWorld</Path>
    <Trashed>false</Trashed>
    <ContentType>book</ContentType>
    <CreateDate>2025-06-26T10:14:18</CreateDate>
    <NodeName>
      <Name Culture="da">Nye Verden</Name>
      <Name Culture="en-US">Brave New World</Name>
    </NodeName>
    <SortOrder>39</SortOrder>
    <Published>
      <Published Culture="da">true</Published>
      <Published Culture="en-US">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <author>
      <Value>Aldous Huxley</Value>
    </author>
    <authorNationality>
      <Value>[
  "British"
]</Value>
    </authorNationality>
    <length>
      <Value>Short</Value>
    </length>
    <publishYear>
      <Value>1932</Value>
    </publishYear>
    <summary>
      <Value Culture="da">En dystopisk roman, der afbilder en futuristisk verden, hvor socialeliten bruger teknologi, medicin og psykologisk manipulation til at opretholde orden og stabilitet. Det fremviser faren ved at opgive personlig frihed for kollektiv harmoni.</Value>
      <Value Culture="en-US">Set in a dystopian future, the novel explores a society where human beings are genetically bred and pharmaceutically conditioned to serve in a ruling order. The society is divided into five castes, each with its specific roles. The narrative follows a savage who rejects the norms of this new world order and struggles to navigate the clash between the values of his upbringing and the reality of this technologically advanced, emotionless society. His resistance prompts a deep examination of the nature of freedom, individuality, and happiness.</Value>
    </summary>
  </Properties>
</Content>
