<?xml version="1.0" encoding="utf-8"?>
<Content Key="f00e6b15-57a2-4ce7-9e01-f7a489cbb78c" Alias="Catch-22" Level="2">
  <Info>
    <Parent Key="3138e866-7bf1-4a00-b7ed-e11ee6f45b7f">Books</Parent>
    <Path>/Books/Catch22</Path>
    <Trashed>false</Trashed>
    <ContentType>book</ContentType>
    <CreateDate>2025-06-26T09:45:46</CreateDate>
    <NodeName>
      <Name Culture="da">Fangst-22</Name>
      <Name Culture="en-US">Catch-22</Name>
    </NodeName>
    <SortOrder>26</SortOrder>
    <Published>
      <Published Culture="da">true</Published>
      <Published Culture="en-US">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <author>
      <Value>Joseph Heller</Value>
    </author>
    <authorNationality>
      <Value>[
  "American"
]</Value>
    </authorNationality>
    <length>
      <Value>Medium</Value>
    </length>
    <publishYear>
      <Value>1961</Value>
    </publishYear>
    <summary>
      <Value Culture="da">En sort komedie sat under 2. verdenskrig, hvor en american bombepiloter forsøger at undvige farlige flyveopgaver uden at blive betragtet som dum. Romanen kritiserer militærbyrokratiet og logikken i krig.</Value>
      <Value Culture="en-US">The book is a satirical critique of military bureaucracy and the illogical nature of war, set during World War II. The story follows a U.S. Army Air Forces B-25 bombardier stationed in Italy, who is trying to maintain his sanity while fulfilling his service requirements so that he can go home. The novel explores the absurdity of war and military life through the experiences of the protagonist, who discovers that a bureaucratic rule, the "Catch-22", makes it impossible for him to escape his dangerous situation. The more he tries to avoid his military assignments, the deeper he gets sucked into the irrational world of military rule.</Value>
    </summary>
  </Properties>
</Content>
