<?xml version="1.0" encoding="utf-8"?>
<Content Key="df59a770-743e-48f8-be32-c7e36d4141f6" Alias="David Copperfield" Level="2">
  <Info>
    <Parent Key="3138e866-7bf1-4a00-b7ed-e11ee6f45b7f">Books</Parent>
    <Path>/Books/DavidCopperfield</Path>
    <Trashed>false</Trashed>
    <ContentType>book</ContentType>
    <CreateDate>2025-06-26T10:12:49</CreateDate>
    <NodeName Default="David Copperfield" />
    <SortOrder>36</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <author>
      <Value><![CDATA[Charles Dickens]]></Value>
    </author>
    <authorNationality>
      <Value><![CDATA[[
  "British"
]]]></Value>
    </authorNationality>
    <length>
      <Value><![CDATA[Long]]></Value>
    </length>
    <publishYear>
      <Value><![CDATA[1849]]></Value>
    </publishYear>
    <summary>
      <Value><![CDATA[This novel follows the life of its titular protagonist from his childhood to maturity. Born to a young widow, David endures a difficult childhood when his mother remarries a harsh and abusive man. After his mother's death, he is sent to a boarding school before being forced into child labor. As he grows, David experiences hardship, love, and loss, all the while meeting a colorful array of characters. The novel is a journey of self-discovery and personal growth, showcasing the harsh realities of 19th-century England.]]></Value>
    </summary>
  </Properties>
</Content>