<?xml version="1.0" encoding="utf-8"?>
<Content Key="bbd37382-9330-4692-a89a-7f27d6675bce" Alias="Don Quixote" Level="2">
  <Info>
    <Parent Key="3138e866-7bf1-4a00-b7ed-e11ee6f45b7f">Books</Parent>
    <Path>/Books/DonQuixote</Path>
    <Trashed>false</Trashed>
    <ContentType>book</ContentType>
    <CreateDate>2025-06-25T19:41:52</CreateDate>
    <NodeName Default="Don Quixote" />
    <SortOrder>7</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <author>
      <Value><![CDATA[Miguel de Cervantes]]></Value>
    </author>
    <authorNationality>
      <Value><![CDATA[[
  "Spanish"
]]]></Value>
    </authorNationality>
    <length>
      <Value><![CDATA[Long]]></Value>
    </length>
    <publishYear>
      <Value><![CDATA[1605]]></Value>
    </publishYear>
    <summary>
      <Value><![CDATA[This classic novel follows the adventures of a man who, driven mad by reading too many chivalric romances, decides to become a knight-errant and roam the world righting wrongs under the name Don Quixote. Accompanied by his loyal squire, Sancho Panza, he battles windmills he believes to be giants and champions the virtuous lady Dulcinea, who is in reality a simple peasant girl. The book is a richly layered critique of the popular literature of Cervantes' time and a profound exploration of reality and illusion, madness and sanity.]]></Value>
    </summary>
  </Properties>
</Content>