<?xml version="1.0" encoding="utf-8"?>
<Content Key="bbd37382-9330-4692-a89a-7f27d6675bce" Alias="Don Quixote" Level="2">
  <Info>
    <Parent Key="3138e866-7bf1-4a00-b7ed-e11ee6f45b7f">Books</Parent>
    <Path>/Books/DonQuixote</Path>
    <Trashed>false</Trashed>
    <ContentType>book</ContentType>
    <CreateDate>2025-06-25T19:41:52</CreateDate>
    <NodeName>
      <Name Culture="da">Don Quixote</Name>
      <Name Culture="en-US">Don Quixote</Name>
    </NodeName>
    <SortOrder>7</SortOrder>
    <Published>
      <Published Culture="da">true</Published>
      <Published Culture="en-US">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <author>
      <Value>Miguel de Cervantes</Value>
    </author>
    <authorNationality>
      <Value>[
  "Spanish"
]</Value>
    </authorNationality>
    <length>
      <Value>Long</Value>
    </length>
    <publishYear>
      <Value>1605</Value>
    </publishYear>
    <summary>
      <Value Culture="da">En picaresque-roman om en middelaldet mand, der mister sin sind fra læsning af ridderfantasier og drager ud for at blive ridder. Hans eventyr med sin trofaste sidekick Sancho Panza er satire på romantisme og idealismer.</Value>
      <Value Culture="en-US">This classic novel follows the adventures of a man who, driven mad by reading too many chivalric romances, decides to become a knight-errant and roam the world righting wrongs under the name Don Quixote. Accompanied by his loyal squire, Sancho Panza, he battles windmills he believes to be giants and champions the virtuous lady Dulcinea, who is in reality a simple peasant girl. The book is a richly layered critique of the popular literature of Cervantes' time and a profound exploration of reality and illusion, madness and sanity.</Value>
    </summary>
  </Properties>
</Content>
