<?xml version="1.0" encoding="utf-8"?>
<Content Key="f019233e-664d-496c-8ab5-9411eb6a60ab" Alias="Fictions" Level="2">
  <Info>
    <Parent Key="3138e866-7bf1-4a00-b7ed-e11ee6f45b7f">Books</Parent>
    <Path>/Books/Fictions</Path>
    <Trashed>false</Trashed>
    <ContentType>book</ContentType>
    <CreateDate>2025-06-26T10:09:51</CreateDate>
    <NodeName Default="Fictions" />
    <SortOrder>31</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <author>
      <Value><![CDATA[Jorge Luis Borges]]></Value>
    </author>
    <authorNationality>
      <Value><![CDATA[[
  "Argentinian"
]]]></Value>
    </authorNationality>
    <length>
      <Value><![CDATA[Short]]></Value>
    </length>
    <publishYear>
      <Value><![CDATA[1944]]></Value>
    </publishYear>
    <summary>
      <Value><![CDATA["Collected Fiction" is a compilation of stories by a renowned author that takes readers on a journey through a world of philosophical paradoxes, intellectual humor, and fantastical realities. The book features a range of narratives, from complex, multi-layered tales of labyrinths and detective investigations, to metaphysical explorations of infinity and the nature of identity. It offers an immersive and thought-provoking reading experience, blurring the boundaries between reality and fiction, past and present, and the self and the universe.]]></Value>
    </summary>
  </Properties>
</Content>