<?xml version="1.0" encoding="utf-8"?>
<Content Key="c1248d54-1338-4332-b730-33579d39b7c7" Alias="Gone With the Wind" Level="2">
  <Info>
    <Parent Key="3138e866-7bf1-4a00-b7ed-e11ee6f45b7f">Books</Parent>
    <Path>/Books/GoneWithTheWind</Path>
    <Trashed>false</Trashed>
    <ContentType>book</ContentType>
    <CreateDate>2025-06-26T14:16:51</CreateDate>
    <NodeName Default="Gone With the Wind" />
    <SortOrder>40</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <author>
      <Value><![CDATA[Margaret Mitchell]]></Value>
    </author>
    <authorNationality>
      <Value><![CDATA[[
  "American"
]]]></Value>
    </authorNationality>
    <length>
      <Value><![CDATA[Long]]></Value>
    </length>
    <publishYear>
      <Value><![CDATA[1936]]></Value>
    </publishYear>
    <summary>
      <Value><![CDATA[Set against the backdrop of the American Civil War and Reconstruction era, this novel follows the life of a young Southern belle, who is known for her beauty and charm. Her life takes a turn when she is forced to make drastic changes to survive the war and its aftermath. The story revolves around her struggle to maintain her family's plantation and her complicated love life, especially her unrequited love for a married man, and her tumultuous relationship with a roguish blockade runner.]]></Value>
    </summary>
  </Properties>
</Content>