<?xml version="1.0" encoding="utf-8"?>
<Content Key="bf7a3138-be81-4f73-8704-c1b5f475b527" Alias="Gulliver's Travels" Level="2">
  <Info>
    <Parent Key="3138e866-7bf1-4a00-b7ed-e11ee6f45b7f">Books</Parent>
    <Path>/Books/GulliversTravels</Path>
    <Trashed>false</Trashed>
    <ContentType>book</ContentType>
    <CreateDate>2025-06-26T14:20:44</CreateDate>
    <NodeName Default="Gulliver's Travels" />
    <SortOrder>48</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <author>
      <Value><![CDATA[Jonathan Swift]]></Value>
    </author>
    <authorNationality>
      <Value><![CDATA[[
  "British"
]]]></Value>
    </authorNationality>
    <length>
      <Value><![CDATA[Medium]]></Value>
    </length>
    <publishYear>
      <Value><![CDATA[1726]]></Value>
    </publishYear>
    <summary>
      <Value><![CDATA[This classic satire follows the travels of a surgeon and sea captain who embarks on a series of extraordinary voyages. The protagonist first finds himself shipwrecked on an island inhabited by tiny people, later discovers a land of giants, then encounters a society of intelligent horses, and finally lands on a floating island of scientists. Through these bizarre adventures, the novel explores themes of human nature, morality, and society, offering a scathing critique of European culture and the human condition.]]></Value>
    </summary>
  </Properties>
</Content>