<?xml version="1.0" encoding="utf-8"?>
<Content Key="d40673b3-b823-451e-95a7-df87e6ce741d" Alias="In Search of Lost Time" Level="2">
  <Info>
    <Parent Key="3138e866-7bf1-4a00-b7ed-e11ee6f45b7f">Books</Parent>
    <Path>/Books/InSearchOfLostTime</Path>
    <Trashed>false</Trashed>
    <ContentType>book</ContentType>
    <CreateDate>2025-06-25T19:37:11</CreateDate>
    <NodeName>
      <Name Culture="da">På Sporet af den tabte Tid</Name>
      <Name Culture="en-US">In Search of Lost Time</Name>
    </NodeName>
    <SortOrder>1</SortOrder>
    <Published>
      <Published Culture="da">true</Published>
      <Published Culture="en-US">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <author>
      <Value>Marcel Proust</Value>
    </author>
    <authorNationality>
      <Value>[
  "French"
]</Value>
    </authorNationality>
    <length>
      <Value>Very Long</Value>
    </length>
    <publishYear>
      <Value>1913</Value>
    </publishYear>
    <summary>
      <Value Culture="da">Et monumentalt værk af litterær modernisme, der udforsker tid, hukommelse og menneskelig erfaring gennem detaljerede refleksioner om livet. Romanen kilder væsentlige temaer omkring kærlighed, kunst og mødet med fortiden.</Value>
      <Value Culture="en-US">This renowned novel is a sweeping exploration of memory, love, art, and the passage of time, told through the narrator's recollections of his childhood and experiences into adulthood in the late 19th and early 20th century aristocratic France. The narrative is notable for its lengthy and intricate involuntary memory episodes, the most famous being the "madeleine episode". It explores the themes of time, space and memory, but also raises questions about the nature of art and literature, and the complex relationships between love, sexuality, and possession.</Value>
    </summary>
  </Properties>
</Content>
