<?xml version="1.0" encoding="utf-8"?>
<Content Key="d40673b3-b823-451e-95a7-df87e6ce741d" Alias="In Search of Lost Time" Level="2">
  <Info>
    <Parent Key="3138e866-7bf1-4a00-b7ed-e11ee6f45b7f">Books</Parent>
    <Path>/Books/InSearchOfLostTime</Path>
    <Trashed>false</Trashed>
    <ContentType>book</ContentType>
    <CreateDate>2025-06-25T19:37:11</CreateDate>
    <NodeName Default="In Search of Lost Time" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <author>
      <Value><![CDATA[Marcel Proust]]></Value>
    </author>
    <authorNationality>
      <Value><![CDATA[[
  "French"
]]]></Value>
    </authorNationality>
    <length>
      <Value><![CDATA[Very Long]]></Value>
    </length>
    <publishYear>
      <Value><![CDATA[1913]]></Value>
    </publishYear>
    <summary>
      <Value><![CDATA[This renowned novel is a sweeping exploration of memory, love, art, and the passage of time, told through the narrator's recollections of his childhood and experiences into adulthood in the late 19th and early 20th century aristocratic France. The narrative is notable for its lengthy and intricate involuntary memory episodes, the most famous being the "madeleine episode". It explores the themes of time, space and memory, but also raises questions about the nature of art and literature, and the complex relationships between love, sexuality, and possession.]]></Value>
    </summary>
  </Properties>
</Content>