<?xml version="1.0" encoding="utf-8"?>
<Content Key="1e0fc2e7-783c-4455-be37-433cde6d3b58" Alias="Invisible Man" Level="2">
  <Info>
    <Parent Key="3138e866-7bf1-4a00-b7ed-e11ee6f45b7f">Books</Parent>
    <Path>/Books/InvisibleMan</Path>
    <Trashed>false</Trashed>
    <ContentType>book</ContentType>
    <CreateDate>2025-06-26T09:45:18</CreateDate>
    <NodeName Default="Invisible Man" />
    <SortOrder>25</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <author>
      <Value><![CDATA[Ralph Ellison]]></Value>
    </author>
    <authorNationality>
      <Value><![CDATA[[
  "American"
]]]></Value>
    </authorNationality>
    <length>
      <Value><![CDATA[Medium]]></Value>
    </length>
    <publishYear>
      <Value><![CDATA[1952]]></Value>
    </publishYear>
    <summary>
      <Value><![CDATA[The novel is a poignant exploration of a young African-American man's journey through life, where he grapples with issues of race, identity, and individuality in mid-20th-century America. The protagonist, who remains unnamed throughout the story, considers himself socially invisible due to his race. The narrative follows his experiences from the South to the North, from being a student to a worker, and his involvement in the Brotherhood, a political organization. The book is a profound critique of societal norms and racial prejudice, highlighting the protagonist's struggle to assert his identity in a world that refuses to see him.]]></Value>
    </summary>
  </Properties>
</Content>