<?xml version="1.0" encoding="utf-8"?>
<Content Key="0ddaf543-afdb-4a73-8be9-5cb0fd2d3959" Alias="Jane Eyre" Level="2">
  <Info>
    <Parent Key="3138e866-7bf1-4a00-b7ed-e11ee6f45b7f">Books</Parent>
    <Path>/Books/JaneEyre</Path>
    <Trashed>false</Trashed>
    <ContentType>book</ContentType>
    <CreateDate>2025-06-26T09:42:49</CreateDate>
    <NodeName Default="Jane Eyre" />
    <SortOrder>21</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <author>
      <Value><![CDATA[Charlotte Brontë]]></Value>
    </author>
    <authorNationality>
      <Value><![CDATA[[
  "British"
]]]></Value>
    </authorNationality>
    <length>
      <Value><![CDATA[Medium]]></Value>
    </length>
    <publishYear>
      <Value><![CDATA[1847]]></Value>
    </publishYear>
    <summary>
      <Value><![CDATA[The novel follows the life of Jane Eyre, an orphan who is mistreated by her relatives and sent to a charity school. As she grows up, Jane becomes a governess at Thornfield Hall, where she falls in love with the brooding and mysterious Mr. Rochester. However, she soon learns of a dark secret in his past that threatens their future together. The story is a profound exploration of a woman's self-discovery and her struggle for independence and love in a rigid Victorian society.]]></Value>
    </summary>
  </Properties>
</Content>