<?xml version="1.0" encoding="utf-8"?>
<Content Key="bb1b7a45-8406-4a8b-9d25-ee77ef23688e" Alias="Journey to the End of The Night" Level="2">
  <Info>
    <Parent Key="3138e866-7bf1-4a00-b7ed-e11ee6f45b7f">Books</Parent>
    <Path>/Books/JourneyToTheEndOfTheNight</Path>
    <Trashed>false</Trashed>
    <ContentType>book</ContentType>
    <CreateDate>2025-06-26T10:13:22</CreateDate>
    <NodeName Default="Journey to the End of The Night" />
    <SortOrder>37</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <author>
      <Value><![CDATA[Louis-Ferdinand Céline]]></Value>
    </author>
    <authorNationality>
      <Value><![CDATA[[
  "French"
]]]></Value>
    </authorNationality>
    <length>
      <Value><![CDATA[Medium]]></Value>
    </length>
    <publishYear>
      <Value><![CDATA[1932]]></Value>
    </publishYear>
    <summary>
      <Value><![CDATA[The novel is a semi-autobiographical work that explores the harsh realities of life through the cynical and disillusioned eyes of the protagonist. The narrative follows his experiences from the trenches of World War I, through the African jungles, to the streets of America and the slums of Paris, showcasing the horrors of war, colonialism, and the dark side of human nature. The protagonist's journey is marked by his struggle with despair, loneliness, and the absurdity of existence, offering a bleak yet profound commentary on the human condition.]]></Value>
    </summary>
  </Properties>
</Content>