<?xml version="1.0" encoding="utf-8"?>
<Content Key="79ac50d7-c042-41e5-b767-ac79750e007d" Alias="Les Misérables" Level="2">
  <Info>
    <Parent Key="3138e866-7bf1-4a00-b7ed-e11ee6f45b7f">Books</Parent>
    <Path>/Books/LesMiserables</Path>
    <Trashed>false</Trashed>
    <ContentType>book</ContentType>
    <CreateDate>2025-06-26T09:46:19</CreateDate>
    <NodeName>
      <Name Culture="da">Les Misérables</Name>
      <Name Culture="en-US">Les Misérables</Name>
    </NodeName>
    <SortOrder>27</SortOrder>
    <Published>
      <Published Culture="da">true</Published>
      <Published Culture="en-US">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <author>
      <Value>Victor Hugo</Value>
    </author>
    <authorNationality>
      <Value>[
  "French"
]</Value>
    </authorNationality>
    <length>
      <Value>Very Long</Value>
    </length>
    <publishYear>
      <Value>1862</Value>
    </publishYear>
    <summary>
      <Value Culture="da">En episk roman sat i 19. århundredes Frankrig, der følger en frigivet fange gennem et liv af genvordigheder og indre reformation. Fortællingen integrerer sociale kommentarer, dødelighed og menneskelig godhed.</Value>
      <Value Culture="en-US">Set in early 19th-century France, the narrative follows the lives and interactions of several characters, particularly the struggles of ex-convict Jean Valjean and his journey towards redemption. The story touches upon the nature of law and grace, and elaborates upon the history of France, architecture of Paris, politics, moral philosophy, antimonarchism, justice, religion, and the types and nature of romantic and familial love. It is known for its vivid and relatable characters, and its exploration of societal and moral issues.</Value>
    </summary>
  </Properties>
</Content>
