<?xml version="1.0" encoding="utf-8"?>
<Content Key="d3296ab5-e807-4072-9101-b946adb21d13" Alias="Lolita" Level="2">
  <Info>
    <Parent Key="3138e866-7bf1-4a00-b7ed-e11ee6f45b7f">Books</Parent>
    <Path>/Books/Lolita</Path>
    <Trashed>false</Trashed>
    <ContentType>book</ContentType>
    <CreateDate>2025-06-25T19:42:22</CreateDate>
    <NodeName>
      <Name Culture="da">Lolita</Name>
      <Name Culture="en-US">Lolita</Name>
    </NodeName>
    <SortOrder>8</SortOrder>
    <Published>
      <Published Culture="da">true</Published>
      <Published Culture="en-US">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <author>
      <Value>Vladimir Nabokov</Value>
    </author>
    <authorNationality>
      <Value>[
  "American"
]</Value>
    </authorNationality>
    <length>
      <Value>Medium</Value>
    </length>
    <publishYear>
      <Value>1955</Value>
    </publishYear>
    <summary>
      <Value Culture="da">En kontroversiel roman, der fortælles af en voksen mand, der bliver obsessiv over en ung pige. Værket udforsker manipulering, kunstig besvogning og læserens moralske ubehag på kreativ vis.</Value>
      <Value Culture="en-US">The novel tells the story of Humbert Humbert, a man with a disturbing obsession for young girls, or "nymphets" as he calls them. His obsession leads him to engage in a manipulative and destructive relationship with his 12-year-old stepdaughter, Lolita. The narrative is a controversial exploration of manipulation, obsession, and unreliable narration, as Humbert attempts to justify his actions and feelings throughout the story.</Value>
    </summary>
  </Properties>
</Content>
