<?xml version="1.0" encoding="utf-8"?>
<Content Key="bebfb9e5-14a2-435a-9c83-3493a04be793" Alias="Lord of the Flies" Level="2">
  <Info>
    <Parent Key="3138e866-7bf1-4a00-b7ed-e11ee6f45b7f">Books</Parent>
    <Path>/Books/LordOfTheFlies</Path>
    <Trashed>false</Trashed>
    <ContentType>book</ContentType>
    <CreateDate>2025-06-26T10:13:50</CreateDate>
    <NodeName Default="Lord of the Flies" />
    <SortOrder>38</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <author>
      <Value><![CDATA[William Golding]]></Value>
    </author>
    <authorNationality>
      <Value><![CDATA[[
  "British"
]]]></Value>
    </authorNationality>
    <length>
      <Value><![CDATA[Short]]></Value>
    </length>
    <publishYear>
      <Value><![CDATA[1954]]></Value>
    </publishYear>
    <summary>
      <Value><![CDATA[A group of British boys are stranded on an uninhabited island after their plane crashes during wartime. Initially, they attempt to establish order, creating rules and electing a leader. However, as time passes, their civility erodes, and they descend into savagery and chaos. The struggle for power intensifies, leading to violence and death. The novel explores themes of innocence, the inherent evil in mankind, and the thin veneer of civilization.]]></Value>
    </summary>
  </Properties>
</Content>