<?xml version="1.0" encoding="utf-8"?>
<Content Key="54e6b382-3854-4af8-b008-878dd2e610bc" Alias="Madame Bovary" Level="2">
  <Info>
    <Parent Key="3138e866-7bf1-4a00-b7ed-e11ee6f45b7f">Books</Parent>
    <Path>/Books/MadameBovary</Path>
    <Trashed>false</Trashed>
    <ContentType>book</ContentType>
    <CreateDate>2025-06-26T09:39:34</CreateDate>
    <NodeName Default="Madame Bovary" />
    <SortOrder>15</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <author>
      <Value><![CDATA[Gustave Flaubert]]></Value>
    </author>
    <authorNationality>
      <Value><![CDATA[[
  "French"
]]]></Value>
    </authorNationality>
    <length>
      <Value><![CDATA[Medium]]></Value>
    </length>
    <publishYear>
      <Value><![CDATA[1857]]></Value>
    </publishYear>
    <summary>
      <Value><![CDATA[Madame Bovary is a tragic novel about a young woman, Emma Bovary, who is married to a dull, but kind-hearted doctor. Dissatisfied with her life, she embarks on a series of extramarital affairs and indulges in a luxurious lifestyle in an attempt to escape the banalities and emptiness of provincial life. Her desire for passion and excitement leads her down a path of financial ruin and despair, ultimately resulting in a tragic end.]]></Value>
    </summary>
  </Properties>
</Content>