<?xml version="1.0" encoding="utf-8"?>
<Content Key="3d6df6eb-0edd-4865-ab55-a418e5c57ff0" Alias="Middlemarch" Level="2">
  <Info>
    <Parent Key="3138e866-7bf1-4a00-b7ed-e11ee6f45b7f">Books</Parent>
    <Path>/Books/Middlemarch</Path>
    <Trashed>false</Trashed>
    <ContentType>book</ContentType>
    <CreateDate>2025-06-26T09:43:22</CreateDate>
    <NodeName>
      <Name Culture="da">Middlemarch</Name>
      <Name Culture="en-US">Middlemarch</Name>
    </NodeName>
    <SortOrder>22</SortOrder>
    <Published>
      <Published Culture="da">true</Published>
      <Published Culture="en-US">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <author>
      <Value>George Eliot</Value>
    </author>
    <authorNationality>
      <Value>[
  "British"
]</Value>
    </authorNationality>
    <length>
      <Value>Long</Value>
    </length>
    <publishYear>
      <Value>1871</Value>
    </publishYear>
    <summary>
      <Value Culture="da">En kompleks roman om livet i et provinsialt engelsk samfund, der følger flere karakterer gennem valg, ambitioner og skuffelser. Værket udforsker menneskelig vedblivelse, kærlighed og sociale forventninger.</Value>
      <Value Culture="en-US">Set in the fictitious English town of Middlemarch during the early 19th century, the novel explores the complex web of relationships in a close-knit society. It follows the lives of several characters, primarily Dorothea Brooke, a young woman of idealistic fervor, and Tertius Lydgate, an ambitious young doctor, who both grapple with societal expectations, personal desires, and moral dilemmas. Their stories intertwine with a rich tapestry of other townsfolk, reflecting themes of love, marriage, ambition, and reform, making a profound commentary on the human condition.</Value>
    </summary>
  </Properties>
</Content>
