<?xml version="1.0" encoding="utf-8"?>
<Content Key="3cbb0cf6-df83-49fb-aaa9-87bcd835f7f4" Alias="Moby-Dick" Level="2">
  <Info>
    <Parent Key="3138e866-7bf1-4a00-b7ed-e11ee6f45b7f">Books</Parent>
    <Path>/Books/MobyDick</Path>
    <Trashed>false</Trashed>
    <ContentType>book</ContentType>
    <CreateDate>2025-06-25T19:41:20</CreateDate>
    <NodeName Default="Moby-Dick" />
    <SortOrder>6</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <author>
      <Value><![CDATA[Herman Melville]]></Value>
    </author>
    <authorNationality>
      <Value><![CDATA[[
  "American"
]]]></Value>
    </authorNationality>
    <length>
      <Value><![CDATA[Long]]></Value>
    </length>
    <publishYear>
      <Value><![CDATA[1851]]></Value>
    </publishYear>
    <summary>
      <Value><![CDATA[The novel is a detailed narrative of a vengeful sea captain's obsessive quest to hunt down a giant white sperm whale that bit off his leg. The captain's relentless pursuit, despite the warnings and concerns of his crew, leads them on a dangerous journey across the seas. The story is a complex exploration of good and evil, obsession, and the nature of reality, filled with rich descriptions of whaling and the sea.]]></Value>
    </summary>
  </Properties>
</Content>