<?xml version="1.0" encoding="utf-8"?>
<Content Key="b1930a71-16eb-4416-bf98-7d6811c6d807" Alias="Mrs. Dalloway" Level="2">
  <Info>
    <Parent Key="3138e866-7bf1-4a00-b7ed-e11ee6f45b7f">Books</Parent>
    <Path>/Books/MrsDalloway</Path>
    <Trashed>false</Trashed>
    <ContentType>book</ContentType>
    <CreateDate>2025-06-26T09:47:25</CreateDate>
    <NodeName>
      <Name Culture="da">Fru Dalloway</Name>
      <Name Culture="en-US">Mrs. Dalloway</Name>
    </NodeName>
    <SortOrder>29</SortOrder>
    <Published>
      <Published Culture="da">true</Published>
      <Published Culture="en-US">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <author>
      <Value>Virginia Woolf</Value>
    </author>
    <authorNationality>
      <Value>[
  "British"
]</Value>
    </authorNationality>
    <length>
      <Value>Short</Value>
    </length>
    <publishYear>
      <Value>1925</Value>
    </publishYear>
    <summary>
      <Value Culture="da">En modernistisk roman, der udforsker en enkelt dag i en kvindes liv gennem indre tankestrøm og minder. Fortællingen udforsker tid, identitet og menneskets søgen efter betydning.</Value>
      <Value Culture="en-US">The novel chronicles a day in the life of Clarissa Dalloway, a high-society woman in post-World War I England, as she prepares for a party she is hosting that evening. Throughout the day, she encounters various characters from her past, including a former suitor and a shell-shocked war veteran. The narrative jumps back and forth in time and in and out of different characters' minds, exploring themes of mental illness, existentialism, and the nature of time.</Value>
    </summary>
  </Properties>
</Content>
