<?xml version="1.0" encoding="utf-8"?>
<Content Key="2c50cf32-778a-4c80-ac5a-23c549f5515e" Alias="On the Road" Level="2">
  <Info>
    <Parent Key="3138e866-7bf1-4a00-b7ed-e11ee6f45b7f">Books</Parent>
    <Path>/Books/OnTheRoad</Path>
    <Trashed>false</Trashed>
    <ContentType>book</ContentType>
    <CreateDate>2025-06-26T10:10:30</CreateDate>
    <NodeName Default="On the Road" />
    <SortOrder>32</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <author>
      <Value><![CDATA[Jack Kerouac]]></Value>
    </author>
    <authorNationality>
      <Value><![CDATA[[
  "American"
]]]></Value>
    </authorNationality>
    <length>
      <Value><![CDATA[Medium]]></Value>
    </length>
    <publishYear>
      <Value><![CDATA[1957]]></Value>
    </publishYear>
    <summary>
      <Value><![CDATA[This novel follows the story of a young man and his friend as they embark on a series of cross-country road trips across America during the late 1940s and early 1950s. The protagonist, driven by a desire for freedom and a quest for identity, encounters a series of eccentric characters and experiences the highs and lows of the Beat Generation. The narrative is a testament to the restlessness of youth and the allure of adventure, underscored by themes of jazz, poetry, and drug use.]]></Value>
    </summary>
  </Properties>
</Content>