<?xml version="1.0" encoding="utf-8"?>
<Content Key="cca5be65-3527-4241-9cc3-09c74398a565" Alias="One Hundred Years of Solitude" Level="2">
  <Info>
    <Parent Key="3138e866-7bf1-4a00-b7ed-e11ee6f45b7f">Books</Parent>
    <Path>/Books/OneHundredYearsOfSolitude</Path>
    <Trashed>false</Trashed>
    <ContentType>book</ContentType>
    <CreateDate>2025-06-25T19:39:27</CreateDate>
    <NodeName Default="One Hundred Years of Solitude" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <author>
      <Value><![CDATA[Gabriel García Márquez]]></Value>
    </author>
    <authorNationality>
      <Value><![CDATA[[
  "Colombian"
]]]></Value>
    </authorNationality>
    <length>
      <Value><![CDATA[Medium]]></Value>
    </length>
    <publishYear>
      <Value><![CDATA[1967]]></Value>
    </publishYear>
    <summary>
      <Value><![CDATA[This novel is a multi-generational saga that focuses on the Buendía family, who founded the fictional town of Macondo. It explores themes of love, loss, family, and the cyclical nature of history. The story is filled with magical realism, blending the supernatural with the ordinary, as it chronicles the family's experiences, including civil war, marriages, births, and deaths. The book is renowned for its narrative style and its exploration of solitude, fate, and the inevitability of repetition in history.]]></Value>
    </summary>
  </Properties>
</Content>