<?xml version="1.0" encoding="utf-8"?>
<Content Key="7fd6f367-b9f8-48eb-ae62-37dbf10b5a44" Alias="Pride and Prejudice" Level="2">
  <Info>
    <Parent Key="3138e866-7bf1-4a00-b7ed-e11ee6f45b7f">Books</Parent>
    <Path>/Books/PrideAndPrejudice</Path>
    <Trashed>false</Trashed>
    <ContentType>book</ContentType>
    <CreateDate>2025-06-25T19:44:18</CreateDate>
    <NodeName>
      <Name Culture="da">Stolthed og Fordom</Name>
      <Name Culture="en-US">Pride and Prejudice</Name>
    </NodeName>
    <SortOrder>11</SortOrder>
    <Published>
      <Published Culture="da">true</Published>
      <Published Culture="en-US">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <author>
      <Value>Jane Austen</Value>
    </author>
    <authorNationality>
      <Value>[
  "British"
]</Value>
    </authorNationality>
    <length>
      <Value>Medium</Value>
    </length>
    <publishYear>
      <Value>1813</Value>
    </publishYear>
    <summary>
      <Value Culture="da">En romantisk komedie sat i tidlig 19. århundredes England, der følger Elizabeth Bennet's komplekse forhold til den stolte Mr. Darcy. Romanen udforsker tema omkring kærlighed, klasse og personlige fordømme.</Value>
      <Value Culture="en-US">Set in early 19th-century England, this classic novel revolves around the lives of the Bennet family, particularly the five unmarried daughters. The narrative explores themes of manners, upbringing, morality, education, and marriage within the society of the landed gentry. It follows the romantic entanglements of Elizabeth Bennet, the second eldest daughter, who is intelligent, lively, and quick-witted, and her tumultuous relationship with the proud, wealthy, and seemingly aloof Mr. Darcy. Their story unfolds as they navigate societal expectations, personal misunderstandings, and their own pride and prejudice.</Value>
    </summary>
  </Properties>
</Content>
