<?xml version="1.0" encoding="utf-8"?>
<Content Key="143fc8b0-16b4-4aa7-9aa9-b2d7f30a1113" Alias="The Lord of the Rings" Level="2">
  <Info>
    <Parent Key="3138e866-7bf1-4a00-b7ed-e11ee6f45b7f">Books</Parent>
    <Path>/Books/TheLordOfTheRings</Path>
    <Trashed>false</Trashed>
    <ContentType>book</ContentType>
    <CreateDate>2025-06-25T19:43:45</CreateDate>
    <NodeName Default="The Lord of the Rings" />
    <SortOrder>10</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <author>
      <Value><![CDATA[J. R. R. Tolkien]]></Value>
    </author>
    <authorNationality>
      <Value><![CDATA[[
  "British"
]]]></Value>
    </authorNationality>
    <length>
      <Value><![CDATA[Very Long]]></Value>
    </length>
    <publishYear>
      <Value><![CDATA[1954]]></Value>
    </publishYear>
    <summary>
      <Value><![CDATA[This epic high-fantasy novel centers around a modest hobbit who is entrusted with the task of destroying a powerful ring that could enable the dark lord to conquer the world. Accompanied by a diverse group of companions, the hobbit embarks on a perilous journey across Middle-earth, battling evil forces and facing numerous challenges. The narrative, rich in mythology and complex themes of good versus evil, friendship, and heroism, has had a profound influence on the fantasy genre.]]></Value>
    </summary>
  </Properties>
</Content>