<?xml version="1.0" encoding="utf-8"?>
<Content Key="d70b7759-c736-488b-b505-c2c16f7a8c61" Alias="The Old Man and the Sea" Level="2">
  <Info>
    <Parent Key="3138e866-7bf1-4a00-b7ed-e11ee6f45b7f">Books</Parent>
    <Path>/Books/TheOldManAndTheSea</Path>
    <Trashed>false</Trashed>
    <ContentType>book</ContentType>
    <CreateDate>2025-06-26T14:17:24</CreateDate>
    <NodeName>
      <Name Culture="da">Den Gamle Mand og Havet</Name>
      <Name Culture="en-US">The Old Man and the Sea</Name>
    </NodeName>
    <SortOrder>41</SortOrder>
    <Published>
      <Published Culture="da">true</Published>
      <Published Culture="en-US">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <author>
      <Value>Ernest Hemingway</Value>
    </author>
    <authorNationality>
      <Value>[
  "American"
]</Value>
    </authorNationality>
    <length>
      <Value>Very Short</Value>
    </length>
    <publishYear>
      <Value>1952</Value>
    </publishYear>
    <summary>
      <Value Culture="da">En kort men dyb fortælling om en gammel fisker's episke kamp mod en gigantisk marlin på havet. Romanen udforsker menneskelig vedblivelse, håb og menneskets forhold til naturen.</Value>
      <Value Culture="en-US">An aging Cuban fisherman struggles with a giant marlin far out in the Gulf Stream, isolated from the world and from human help. For days, he fights the marlin alone, admiring its strength, dignity, and faithfulness to its identity—its destiny is as true as his as a fisherman. He finally kills the marlin, but sharks attack and devour it before he can return to the shore. The fisherman returns home empty-handed but remains undefeated, having proven his abilities to himself.</Value>
    </summary>
  </Properties>
</Content>
