<?xml version="1.0" encoding="utf-8"?>
<Content Key="692ab462-fb1c-497f-9672-02d838558f3c" Alias="The Little Prince" Level="2">
  <Info>
    <Parent Key="3138e866-7bf1-4a00-b7ed-e11ee6f45b7f">Books</Parent>
    <Path>/Books/TheLittlePrince</Path>
    <Trashed>false</Trashed>
    <ContentType>book</ContentType>
    <CreateDate>2025-06-26T10:11:30</CreateDate>
    <NodeName Default="The Little Prince" />
    <SortOrder>34</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <author>
      <Value><![CDATA[Antoine de Saint-Exupéry]]></Value>
    </author>
    <authorNationality>
      <Value><![CDATA[[
  "French"
]]]></Value>
    </authorNationality>
    <length>
      <Value><![CDATA[Very Short]]></Value>
    </length>
    <publishYear>
      <Value><![CDATA[1943]]></Value>
    </publishYear>
    <summary>
      <Value><![CDATA[A young prince from a tiny asteroid embarks on a journey across the universe, visiting various planets and meeting their strange inhabitants. Along the way, he learns about the follies and absurdities of the adult world, the nature of friendship, and the importance of retaining a childlike wonder and curiosity. His journey eventually leads him to Earth, where he befriends a fox and learns about love and loss before finally returning to his asteroid.]]></Value>
    </summary>
  </Properties>
</Content>