<?xml version="1.0" encoding="utf-8"?>
<Content Key="d1b92747-c727-4cfd-b025-fffbdbfe78fd" Alias="The Leopard" Level="2">
  <Info>
    <Parent Key="3138e866-7bf1-4a00-b7ed-e11ee6f45b7f">Books</Parent>
    <Path>/Books/TheLeopard</Path>
    <Trashed>false</Trashed>
    <ContentType>book</ContentType>
    <CreateDate>2025-06-26T14:19:24</CreateDate>
    <NodeName>
      <Name Culture="da">Leoparden</Name>
      <Name Culture="en-US">The Leopard</Name>
    </NodeName>
    <SortOrder>45</SortOrder>
    <Published>
      <Published Culture="da">true</Published>
      <Published Culture="en-US">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <author>
      <Value>Giuseppe Tomasi di Lampedusa</Value>
    </author>
    <authorNationality>
      <Value>[
  "Italian"
]</Value>
    </authorNationality>
    <length>
      <Value>Short</Value>
    </length>
    <publishYear>
      <Value>1958</Value>
    </publishYear>
    <summary>
      <Value Culture="da">En italiensk klassiker om en aristocratisk families nedgang under Siciliens revolution. Fortællingen udforsker tema omkring tid, forandring og menneskets forsøg på at modstå forverring.</Value>
      <Value Culture="en-US">"The Leopard" is a historical novel set in 19th-century Sicily, during the time of the Italian unification or Risorgimento. It centers on an aging, aristocratic protagonist who is coming to terms with the decline of his class and the rise of a new social order. The narrative weaves together personal drama with the larger political and social upheaval of the time, providing a rich, nuanced portrait of a society in transition. Despite his resistance to change, the protagonist ultimately recognizes its inevitability and the futility of his efforts to preserve the old ways.</Value>
    </summary>
  </Properties>
</Content>
