<?xml version="1.0" encoding="utf-8"?>
<Content Key="565a88ca-e2ce-43e8-bea2-99f19d04fc93" Alias="The Golden Notebook" Level="2">
  <Info>
    <Parent Key="3138e866-7bf1-4a00-b7ed-e11ee6f45b7f">Books</Parent>
    <Path>/Books/TheGoldenNotebook</Path>
    <Trashed>false</Trashed>
    <ContentType>book</ContentType>
    <CreateDate>2025-06-26T14:18:18</CreateDate>
    <NodeName Default="The Golden Notebook" />
    <SortOrder>43</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <author>
      <Value><![CDATA[Doris May Lessing]]></Value>
    </author>
    <authorNationality>
      <Value><![CDATA[[
  "British"
]]]></Value>
    </authorNationality>
    <length>
      <Value><![CDATA[Long]]></Value>
    </length>
    <publishYear>
      <Value><![CDATA[1962]]></Value>
    </publishYear>
    <summary>
      <Value><![CDATA[The novel centers around a woman named Anna Wulf, a writer who keeps four notebooks, each representing a different aspect of her life: her experiences in Africa, her current life in London, a novel she is writing, and her personal experiences. As Anna's mental state deteriorates, she attempts to unify her fragmented self in a fifth notebook, the golden notebook. The novel explores themes of mental breakdown, communism, the changing role of women, and the fear of nuclear war.]]></Value>
    </summary>
  </Properties>
</Content>