<?xml version="1.0" encoding="utf-8"?>
<Content Key="45227879-cc2f-455a-a800-d98e653401c8" Alias="The Catcher in the Rye" Level="2">
  <Info>
    <Parent Key="3138e866-7bf1-4a00-b7ed-e11ee6f45b7f">Books</Parent>
    <Path>/Books/TheCatcherInTheRye</Path>
    <Trashed>false</Trashed>
    <ContentType>book</ContentType>
    <CreateDate>2025-06-25T19:40:11</CreateDate>
    <NodeName>
      <Name Culture="da">Rug i Øjet</Name>
      <Name Culture="en-US">The Catcher in the Rye</Name>
    </NodeName>
    <SortOrder>4</SortOrder>
    <Published>
      <Published Culture="da">true</Published>
      <Published Culture="en-US">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <author>
      <Value>J. D. Salinger</Value>
    </author>
    <authorNationality>
      <Value>[
  "American"
]</Value>
    </authorNationality>
    <length>
      <Value>Short</Value>
    </length>
    <publishYear>
      <Value>1951</Value>
    </publishYear>
    <summary>
      <Value Culture="da">En ikonisk roman om en adolescent dreng, der oplever et sammenbrud efter at blive kastet ud af sin eliteinternat. Fortællingen udforsker alienation, uskyld og søgen efter autentisitet i voksenverden.</Value>
      <Value Culture="en-US">The novel follows the story of a teenager named Holden Caulfield, who has just been expelled from his prep school. The narrative unfolds over the course of three days, during which Holden experiences various forms of alienation and his mental state continues to unravel. He criticizes the adult world as "phony" and struggles with his own transition into adulthood. The book is a profound exploration of teenage rebellion, alienation, and the loss of innocence.</Value>
    </summary>
  </Properties>
</Content>
