<?xml version="1.0" encoding="utf-8"?>
<Content Key="a8c1cd69-b2b0-4d73-869d-69d9f26e1063" Alias="The Magic Mountain" Level="2">
  <Info>
    <Parent Key="3138e866-7bf1-4a00-b7ed-e11ee6f45b7f">Books</Parent>
    <Path>/Books/TheMagicMountain</Path>
    <Trashed>false</Trashed>
    <ContentType>book</ContentType>
    <CreateDate>2025-06-26T09:40:38</CreateDate>
    <NodeName>
      <Name Culture="da">Det Magiske Bjerg</Name>
      <Name Culture="en-US">The Magic Mountain</Name>
    </NodeName>
    <SortOrder>17</SortOrder>
    <Published>
      <Published Culture="da">true</Published>
      <Published Culture="en-US">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <author>
      <Value>Thomas Mann</Value>
    </author>
    <authorNationality>
      <Value>[
  "German"
]</Value>
    </authorNationality>
    <length>
      <Value>Long</Value>
    </length>
    <publishYear>
      <Value>1924</Value>
    </publishYear>
    <summary>
      <Value Culture="da">En kompleks roman om en ung mands ophold på et bjerg-sanatorium under 1. verdenskrig. Fortællingen udforsker tema omkring sygdom, tid, humanisme og politisk ideologi.</Value>
      <Value Culture="en-US">In this novel, the protagonist, a young, ordinary man, visits his cousin at a tuberculosis sanatorium in the Swiss Alps. Intending to stay for only a few weeks, he ends up remaining there for seven years, becoming a patient himself. The book explores his experiences and relationships with other patients and staff, delving into philosophical discussions on life, time, and the nature of disease. It also provides a vivid portrayal of the European society and intellectual life on the eve of World War I.</Value>
    </summary>
  </Properties>
</Content>
