<?xml version="1.0" encoding="utf-8"?>
<Content Key="f8bd824b-55ea-4be4-b02c-d9f3ef708ce8" Alias="The Life And Opinions Of Tristram Shandy" Level="2">
  <Info>
    <Parent Key="3138e866-7bf1-4a00-b7ed-e11ee6f45b7f">Books</Parent>
    <Path>/Books/TheLifeAndOpinionsOfTristramShandy</Path>
    <Trashed>false</Trashed>
    <ContentType>book</ContentType>
    <CreateDate>2025-06-26T14:17:52</CreateDate>
    <NodeName Default="The Life And Opinions Of Tristram Shandy" />
    <SortOrder>42</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <author>
      <Value><![CDATA[Laurence Sterne]]></Value>
    </author>
    <authorNationality>
      <Value><![CDATA[[
  "British"
]]]></Value>
    </authorNationality>
    <length>
      <Value><![CDATA[Long]]></Value>
    </length>
    <publishYear>
      <Value><![CDATA[1759]]></Value>
    </publishYear>
    <summary>
      <Value><![CDATA[The book is a humorous and digressive narrative that follows the eccentric life of Tristram Shandy, who recounts his own story in a non-linear fashion. It delves into the whimsical and often absurd experiences of his family and friends, blending satire, wit, and philosophical musings. The narrative frequently deviates into various anecdotes, reflections, and character studies, creating a rich tapestry of 18th-century life and thought. Through its unconventional structure and playful prose, the book challenges traditional storytelling conventions and explores the complexities of human nature and perception.]]></Value>
    </summary>
  </Properties>
</Content>