<?xml version="1.0" encoding="utf-8"?>
<Content Key="2f400be0-a52d-459d-9c53-739fd1f69b94" Alias="The Sound and the Fury" Level="2">
  <Info>
    <Parent Key="3138e866-7bf1-4a00-b7ed-e11ee6f45b7f">Books</Parent>
    <Path>/Books/TheSoundAndTheFury</Path>
    <Trashed>false</Trashed>
    <ContentType>book</ContentType>
    <CreateDate>2025-06-25T19:42:54</CreateDate>
    <NodeName>
      <Name Culture="da">Lyden og Raseriets</Name>
      <Name Culture="en-US">The Sound and the Fury</Name>
    </NodeName>
    <SortOrder>9</SortOrder>
    <Published>
      <Published Culture="da">true</Published>
      <Published Culture="en-US">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <author>
      <Value>William Faulkner</Value>
    </author>
    <authorNationality>
      <Value>[
  "American"
]</Value>
    </authorNationality>
    <length>
      <Value>Medium</Value>
    </length>
    <publishYear>
      <Value>1929</Value>
    </publishYear>
    <summary>
      <Value Culture="da">En kompleks modernistisk roman, der udforsker en sydstatsfamilie's forverring gennem flere perspektiver og tidsrum. Værket er berømt for sin innovative fortælleteknik.</Value>
      <Value Culture="en-US">The novel is a complex exploration of the tragic Compson family from the American South. Told from four distinct perspectives, the story unfolds through stream of consciousness narratives, each revealing their own understanding of the family's decline. The characters grapple with post-Civil War societal changes, personal loss, and their own mental instability. The narrative is marked by themes of time, innocence, and the burdens of the past.</Value>
    </summary>
  </Properties>
</Content>
