<?xml version="1.0" encoding="utf-8"?>
<Content Key="d1b92747-c727-4cfd-b025-fffbdbfe78fd" Alias="The Leopard" Level="2">
  <Info>
    <Parent Key="3138e866-7bf1-4a00-b7ed-e11ee6f45b7f">Books</Parent>
    <Path>/Books/TheLeopard</Path>
    <Trashed>false</Trashed>
    <ContentType>book</ContentType>
    <CreateDate>2025-06-26T14:19:24</CreateDate>
    <NodeName Default="The Leopard" />
    <SortOrder>45</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <author>
      <Value><![CDATA[Giuseppe Tomasi di Lampedusa]]></Value>
    </author>
    <authorNationality>
      <Value><![CDATA[[
  "Italian"
]]]></Value>
    </authorNationality>
    <length>
      <Value><![CDATA[Short]]></Value>
    </length>
    <publishYear>
      <Value><![CDATA[1958]]></Value>
    </publishYear>
    <summary>
      <Value><![CDATA["The Leopard" is a historical novel set in 19th-century Sicily, during the time of the Italian unification or Risorgimento. It centers on an aging, aristocratic protagonist who is coming to terms with the decline of his class and the rise of a new social order. The narrative weaves together personal drama with the larger political and social upheaval of the time, providing a rich, nuanced portrait of a society in transition. Despite his resistance to change, the protagonist ultimately recognizes its inevitability and the futility of his efforts to preserve the old ways.]]></Value>
    </summary>
  </Properties>
</Content>