<?xml version="1.0" encoding="utf-8"?>
<Content Key="c09a0792-7d25-4160-a52d-f679baca2d17" Alias="The Stranger" Level="2">
  <Info>
    <Parent Key="3138e866-7bf1-4a00-b7ed-e11ee6f45b7f">Books</Parent>
    <Path>/Books/TheStranger</Path>
    <Trashed>false</Trashed>
    <ContentType>book</ContentType>
    <CreateDate>2025-06-26T09:40:05</CreateDate>
    <NodeName Default="The Stranger" />
    <SortOrder>16</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <author>
      <Value><![CDATA[Albert Camus]]></Value>
    </author>
    <authorNationality>
      <Value><![CDATA[[
  "French"
]]]></Value>
    </authorNationality>
    <length>
      <Value><![CDATA[Very Short]]></Value>
    </length>
    <publishYear>
      <Value><![CDATA[1942]]></Value>
    </publishYear>
    <summary>
      <Value><![CDATA[Set in the sun-drenched landscapes of Algeria, this existential novel follows the life of an emotionally detached and indifferent man who becomes embroiled in a series of events leading to a senseless murder. Through his trial and eventual conviction, the narrative explores themes of absurdity, the meaning of life, and the societal expectations of morality. The protagonist's passive acceptance of his fate and his refusal to conform to conventional emotional responses challenge the reader to question the nature of existence and the human condition.]]></Value>
    </summary>
  </Properties>
</Content>