<?xml version="1.0" encoding="utf-8"?>
<Content Key="f7702295-18a2-4342-a3f0-9d7538bf5401" Alias="The Trial" Level="2">
  <Info>
    <Parent Key="3138e866-7bf1-4a00-b7ed-e11ee6f45b7f">Books</Parent>
    <Path>/Books/TheTrial</Path>
    <Trashed>false</Trashed>
    <ContentType>book</ContentType>
    <CreateDate>2025-06-25T19:45:44</CreateDate>
    <NodeName>
      <Name Culture="da">Retssagen</Name>
      <Name Culture="en-US">The Trial</Name>
    </NodeName>
    <SortOrder>14</SortOrder>
    <Published>
      <Published Culture="da">true</Published>
      <Published Culture="en-US">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <author>
      <Value>Franz Kafka</Value>
    </author>
    <authorNationality>
      <Value>[
  "Czech"
]</Value>
    </authorNationality>
    <length>
      <Value>Short</Value>
    </length>
    <publishYear>
      <Value>1925</Value>
    </publishYear>
    <summary>
      <Value Culture="da">En surrealistisk roman om en mand, der bliver anklaget for en uspecificeret forbrydelse og undergår en kafkaisk retsprocedure. Fortællingen udforsker tema omkring skyld, magtmisbrug og menneskets hjælpeløshed.</Value>
      <Value Culture="en-US">The book revolves around a bank clerk who wakes one morning to find himself under arrest for an unspecified crime. Despite not being detained, he is subjected to the psychological torment of a bizarre and nightmarish judicial process. The story is a critique of bureaucracy, exploring themes of guilt, alienation and the inefficiency of the justice system.</Value>
    </summary>
  </Properties>
</Content>
