<?xml version="1.0" encoding="utf-8"?>
<Content Key="bcbcc1c9-272a-44ba-991e-938f37cebae4" Alias="The Great Gatsby" Level="2">
  <Info>
    <Parent Key="3138e866-7bf1-4a00-b7ed-e11ee6f45b7f">Books</Parent>
    <Path>/Books/TheGreatGatsby</Path>
    <Trashed>false</Trashed>
    <ContentType>book</ContentType>
    <CreateDate>2025-06-25T19:37:55</CreateDate>
    <NodeName Default="The Great Gatsby" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <author>
      <Value><![CDATA[F. Scott Fitzgerald]]></Value>
    </author>
    <authorNationality>
      <Value><![CDATA[[
  "American"
]]]></Value>
    </authorNationality>
    <length>
      <Value><![CDATA[Very Short]]></Value>
    </length>
    <publishYear>
      <Value><![CDATA[1925]]></Value>
    </publishYear>
    <summary>
      <Value><![CDATA[Set in the summer of 1922, the novel follows the life of a young and mysterious millionaire, his extravagant lifestyle in Long Island, and his obsessive love for a beautiful former debutante. As the story unfolds, the millionaire's dark secrets and the corrupt reality of the American dream during the Jazz Age are revealed. The narrative is a critique of the hedonistic excess and moral decay of the era, ultimately leading to tragic consequences.]]></Value>
    </summary>
  </Properties>
</Content>