<?xml version="1.0" encoding="utf-8"?>
<Content Key="98a22446-4d65-4a1e-8d36-3c1640b5c5e6" Alias="The Grapes of Wrath" Level="2">
  <Info>
    <Parent Key="3138e866-7bf1-4a00-b7ed-e11ee6f45b7f">Books</Parent>
    <Path>/Books/TheGrapesOfWrath</Path>
    <Trashed>false</Trashed>
    <ContentType>book</ContentType>
    <CreateDate>2025-06-26T09:41:45</CreateDate>
    <NodeName Default="The Grapes of Wrath" />
    <SortOrder>19</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <author>
      <Value><![CDATA[John Steinbeck]]></Value>
    </author>
    <authorNationality>
      <Value><![CDATA[[
  "American"
]]]></Value>
    </authorNationality>
    <length>
      <Value><![CDATA[Medium]]></Value>
    </length>
    <publishYear>
      <Value><![CDATA[1939]]></Value>
    </publishYear>
    <summary>
      <Value><![CDATA[The book follows the Joad family, Oklahoma farmers displaced from their land during the Great Depression. The family, alongside thousands of other "Okies," travel to California in search of work and a better life. Throughout their journey, they face numerous hardships and injustices, yet maintain their humanity through unity and shared sacrifice. The narrative explores themes of man's inhumanity to man, the dignity of wrath, and the power of family and friendship, offering a stark and moving portrayal of the harsh realities of American migrant laborers during the 1930s.]]></Value>
    </summary>
  </Properties>
</Content>