<?xml version="1.0" encoding="utf-8"?>
<Content Key="a90d80f6-716d-41e6-bddf-69e5a1e4a5ba" Alias="To Kill a Mockingbird" Level="2">
  <Info>
    <Parent Key="3138e866-7bf1-4a00-b7ed-e11ee6f45b7f">Books</Parent>
    <Path>/Books/ToKillAMockingbird</Path>
    <Trashed>false</Trashed>
    <ContentType>book</ContentType>
    <CreateDate>2025-06-25T19:44:48</CreateDate>
    <NodeName>
      <Name Culture="da">At Slå en Sangfugl ihjel</Name>
      <Name Culture="en-US">To Kill a Mockingbird</Name>
    </NodeName>
    <SortOrder>12</SortOrder>
    <Published>
      <Published Culture="da">true</Published>
      <Published Culture="en-US">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <author>
      <Value>Harper Lee</Value>
    </author>
    <authorNationality>
      <Value>[
  "American"
]</Value>
    </authorNationality>
    <length>
      <Value>Medium</Value>
    </length>
    <publishYear>
      <Value>1960</Value>
    </publishYear>
    <summary>
      <Value Culture="da">En klassiker om et ungt piges opdagelse af injustice og racisme i det amerikanske syd. Fortællingen udforsker tema omkring moral, racisme og menneskets kapacitet til at handle med integritet.</Value>
      <Value Culture="en-US">Set in the racially charged South during the Depression, the novel follows a young girl and her older brother as they navigate their small town's societal norms and prejudices. Their father, a lawyer, is appointed to defend a black man falsely accused of raping a white woman, forcing the children to confront the harsh realities of racism and injustice. The story explores themes of morality, innocence, and the loss of innocence through the eyes of the young protagonists.</Value>
    </summary>
  </Properties>
</Content>
