<?xml version="1.0" encoding="utf-8"?>
<Content Key="c160176b-0176-4c38-886d-51bf29291499" Alias="To the Lighthouse" Level="2">
  <Info>
    <Parent Key="3138e866-7bf1-4a00-b7ed-e11ee6f45b7f">Books</Parent>
    <Path>/Books/ToTheLighthouse</Path>
    <Trashed>false</Trashed>
    <ContentType>book</ContentType>
    <CreateDate>2025-06-26T09:44:20</CreateDate>
    <NodeName Default="To the Lighthouse" />
    <SortOrder>23</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <author>
      <Value><![CDATA[Virginia Woolf]]></Value>
    </author>
    <authorNationality>
      <Value><![CDATA[[
  "British"
]]]></Value>
    </authorNationality>
    <length>
      <Value><![CDATA[Short]]></Value>
    </length>
    <publishYear>
      <Value><![CDATA[1927]]></Value>
    </publishYear>
    <summary>
      <Value><![CDATA[This novel is a pioneering work of modernist literature that explores the Ramsay family's experiences at their summer home on the Isle of Skye in Scotland. The narrative is divided into three sections, focusing on a day in the family's life, a description of the house during their absence, and their return after ten years. The book is known for its stream of consciousness narrative technique and its exploration of topics such as the passage of time, the nature of art, and the female experience.]]></Value>
    </summary>
  </Properties>
</Content>