<?xml version="1.0" encoding="utf-8"?>
<Content Key="e81170e7-9180-4222-b418-fc96179aca4e" Alias="Ulysses" Level="2">
  <Info>
    <Parent Key="3138e866-7bf1-4a00-b7ed-e11ee6f45b7f">Books</Parent>
    <Path>/Books/Ulysses</Path>
    <Trashed>false</Trashed>
    <ContentType>book</ContentType>
    <CreateDate>2025-06-25T19:36:29</CreateDate>
    <NodeName Default="Ulysses" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <author>
      <Value><![CDATA[James Joyce]]></Value>
    </author>
    <authorNationality>
      <Value><![CDATA[[
  "Irish"
]]]></Value>
    </authorNationality>
    <length>
      <Value><![CDATA[Long]]></Value>
    </length>
    <publishYear>
      <Value><![CDATA[1922]]></Value>
    </publishYear>
    <summary>
      <Value><![CDATA[Set in Dublin, the novel follows a day in the life of Leopold Bloom, an advertising salesman, as he navigates the city. The narrative, heavily influenced by Homer's Odyssey, explores themes of identity, heroism, and the complexities of everyday life. It is renowned for its stream-of-consciousness style and complex structure, making it a challenging but rewarding read.]]></Value>
    </summary>
  </Properties>
</Content>