<?xml version="1.0" encoding="utf-8"?>
<Content Key="e81170e7-9180-4222-b418-fc96179aca4e" Alias="Ulysses" Level="2">
  <Info>
    <Parent Key="3138e866-7bf1-4a00-b7ed-e11ee6f45b7f">Books</Parent>
    <Path>/Books/Ulysses</Path>
    <Trashed>false</Trashed>
    <ContentType>book</ContentType>
    <CreateDate>2025-06-25T19:36:29</CreateDate>
    <NodeName>
      <Name Culture="da">Odysseus</Name>
      <Name Culture="en-US">Ulysses</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published>
      <Published Culture="da">true</Published>
      <Published Culture="en-US">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <author>
      <Value>James Joyce</Value>
    </author>
    <authorNationality>
      <Value>[
  "Irish"
]</Value>
    </authorNationality>
    <length>
      <Value>Long</Value>
    </length>
    <publishYear>
      <Value>1922</Value>
    </publishYear>
    <summary>
      <Value Culture="da">En monumentalt modernistisk roman, der følger en mands ordinarje dag i Dublin gennem Joyce's avantgarde litterære stil. Fortællingen er fyldt med litterær eksperimentering og homageværk til klassik.</Value>
      <Value Culture="en-US">Set in Dublin, the novel follows a day in the life of Leopold Bloom, an advertising salesman, as he navigates the city. The narrative, heavily influenced by Homer's Odyssey, explores themes of identity, heroism, and the complexities of everyday life. It is renowned for its stream-of-consciousness style and complex structure, making it a challenging but rewarding read.</Value>
    </summary>
  </Properties>
</Content>
