<?xml version="1.0" encoding="utf-8"?>
<Content Key="e505b53c-9883-4ff1-9721-751c225ae179" Alias="Wuthering Heights" Level="2">
  <Info>
    <Parent Key="3138e866-7bf1-4a00-b7ed-e11ee6f45b7f">Books</Parent>
    <Path>/Books/WutheringHeights</Path>
    <Trashed>false</Trashed>
    <ContentType>book</ContentType>
    <CreateDate>2025-06-25T19:45:16</CreateDate>
    <NodeName>
      <Name Culture="da">Stormfulde Højder</Name>
      <Name Culture="en-US">Wuthering Heights</Name>
    </NodeName>
    <SortOrder>13</SortOrder>
    <Published>
      <Published Culture="da">true</Published>
      <Published Culture="en-US">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <author>
      <Value>Emily Brontë</Value>
    </author>
    <authorNationality>
      <Value>[
  "British"
]</Value>
    </authorNationality>
    <length>
      <Value>Medium</Value>
    </length>
    <publishYear>
      <Value>1847</Value>
    </publishYear>
    <summary>
      <Value Culture="da">En gothisk roman om intense lidenskab og revanche på de Yorkshire heaths. Fortællingen udforsker dybe følelser, social klasse og menneskelig grusomhed gennem generationers løfter.</Value>
      <Value Culture="en-US">This classic novel is a tale of love, revenge and social class set in the Yorkshire moors. It revolves around the intense, complex relationship between Catherine Earnshaw and Heathcliff, an orphan adopted by Catherine's father. Despite their deep affection for each other, Catherine marries Edgar Linton, a wealthy neighbor, leading Heathcliff to seek revenge on the two families. The story unfolds over two generations, reflecting the consequences of their choices and the destructive power of obsessive love.</Value>
    </summary>
  </Properties>
</Content>
