<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c83940a2-7178-4336-b725-66507ef66c10" Alias="Radio Button List (Book Length)" Level="1">
  <Info>
    <Name>Radio Button List (Book Length)</Name>
    <EditorAlias>Umbraco.RadioButtonList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.RadioButtonList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    "Very Short",
    "Short",
    "Medium",
    "Long",
    "Very Long"
  ]
}]]></Config>
</DataType>