<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a63a771a-3843-40cf-9ed6-e97522a50921" Alias="Tags (Book Length)" Level="1">
  <Info>
    <Name>Tags (Book Length)</Name>
    <EditorAlias>Umbraco.Tags</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Tags</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "group": "length",
  "storageType": "Json"
}]]></Config>
</DataType>