<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f97c0168-2147-498a-b0af-7ec7cb3ad3c7" Alias="Tags (Book Nationality)" Level="1">
  <Info>
    <Name>Tags (Book Nationality)</Name>
    <EditorAlias>Umbraco.Tags</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Tags</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "group": "nationality",
  "storageType": "Json"
}]]></Config>
</DataType>